BasedOnStyle: LLVM
IndentWidth: 4
UseTab: false
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AllowShortBlocksOnASingleLine: false
ColumnLimit: 150
BreakBeforeBinaryOperators: false     
AlwaysBreakTemplateDeclarations: true  
AllowShortLoopsOnASingleLine: false 
AllowShortIfStatementsOnASingleLine: false 
AllowAllParametersOfDeclarationOnNextLine: true  
SpacesInParentheses: true    
SpacesBeforeTrailingComments: 1 
SpaceInEmptyParentheses: false
SpaceAfterControlStatementKeyword: true 
PointerBindsToType: true 
MaxEmptyLinesToKeep: 2
IndentFunctionDeclarationAfterType: true 
IndentCaseLabels: true
ExperimentalAutoDetectBinPacking: true 
DerivePointerBinding: true 
Cpp11BracedListStyle: false 
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializersBeforeComma: true
